	body{
		background-color: black;
		text-align: center;
		margin-top: 100px;
		font-family: 'Ceviche One', cursive;
	}
	.nameInput{
		font-weight: bold;
	}

	.changeText{
		color: yellow;
		font-size: 37px;
	}

	.smallTitle{
		font-weight: bold;
		color: green;
		font-size: 28px;
	}

	.madeByMe{
		margin-top: 150px;
		color: purple;
	}

