<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Test Page with angular</title>
	<script src="lib/angular/angular.min.js"></script>
	<script src="js/controllers.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Ceviche+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/master.css">
</head>
<body>
	<div class="main" ng-controller="MyController">

		<div class="search">
			<h1>Klubbens spillere</h1>
			<label>søg:</label>
			<input ng-model="query" placeholder="Søg efter spiller..." autofocus>

			<!--<label class="formgroup">by:
				<select ng-model="authorOrder">
					<option value="name">Navn</option>
				</select>
			</label>-->
		</div>

		<ul class="authorlist">
			<li class="author" ng-repeat="item in authors | filter: query | orderBy : authorOrder">
				<div>
					<h2>{{item.name}}</h2>
					<h3>{{item.title}}</h3>
					<h4>{{item.company}}</h4>
				</div>	
			</li>

		</ul>
	</div> 

	<!--
		<div class="madeByMe" ng-controller ="MyController">
			<h1>{{authors.name}}</h1>
			<p>{{ authors.title + ', ' + authors.company }}</p>
		</div>	
	-->

</body>
</html>	